.form {
  background-color: #191919;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  border-radius: 10px;
}

h3 {
  text-align: center;
  margin: 10px 0px;
  font-size: 28px;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 8px;
}

.form input[type=submit] {
  margin-top: 10px;
}

.error {
  color: #f33;
  font-size: 16px;
}

.spinner__wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100dvh;
  min-width: 100dvw;
  background-color: #222;
  opacity: 0.5;
}